*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json
tsconfig.tsbuildinfo

# Per-project state and debug output written by the CLI at runtime
.vibe-checker
.vibe-checker.debug.json

yarn.lock
pnpm-lock.yaml

